# Copyright 2023 Dimitri Koshkin. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: release

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write
  packages: write

jobs:
  release-tag:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Install tools via asdf
        uses: asdf-vm/actions/setup@v2.1.0
        with:
          asdf_branch: v0.11.2

      # TODO: why is this needed?
      - name: Add golang asdf plugin
        run: asdf plugin-add golang https://github.com/kennyp/asdf-golang.git

      - name: Add goreleaser asdf plugin
        run: asdf plugin-add goreleaser https://github.com/kforsthoevel/asdf-goreleaser.git

      - name: Release
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
